{% load static %}
<html>
    <head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

  <title> Feane </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    </head>


    <body>
        <div class="hero_area">
            <div class="bg-box">
                  <img src="{% static 'images/hero-bg.jpg' %}" alt="">
            </div>
    
       <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Feane
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}">Book Table</a>
              </li>
            </ul>
            <div class="user_option">
              
              {% if user.is_authenticated %}
              <div class="dropdown">
              <button class="dropbtn">{{ user.username|title }}</button>
              <div class="dropdown-content">
                  <a href="#">1</a>
                  <a href="#">2</a>
                  <a href="{% url 'logout' %}">Chiqish</a>
              </div>
              </div>
              {% else %}
              <form class="form-inline m1-auto">
              <a href="{% url 'login' %}" class="order_online" style="margin: 15px;">
                  Saytga kirish
              </a>
              <a href="{% url 'signup' %}" class="order_online">
                  Ro'yxatdan o'tish
              </a>
              </form>
              {% endif%}
             
            </div>
          </div>
        </nav>
      </div>
    </header>
              <section class="book_section layout_padding">
                    <div class="container">
                      <div class="heading_container">
                        <h2 style="color: white">
                          Ro'yxatdan o'tish
                        </h2>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form_container">
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                              <div>
                                <input type="text" class="form-control" name="username" placeholder="Ismingizni kiriting" />
                              </div>
                              <div>
                                <input type="text" class="form-control" name="password1" placeholder="Parolingizni kiriting" />
                              </div>
                        
                              <div>
                                <input type="text" class="form-control" name="password2" placeholder="Parolingizni qayta kiriting" />
                              </div>

                              <div class="btn_box">
                                <button type="submit">Ro'yxatdan o'tish</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="map_container ">
                            <div id="googleMap"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
        </div>
        
          <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>



